In [1]:
import pandas as pd

In [2]:
df_case = pd.read_csv('Providence_Police_Case_Log_-_Past_180_days.csv')

In [4]:
df_case[df_case['CaseNumber'] == '2022-00043755']

,CaseNumber,Location,Reported Date,Month,Year,Offense Desc,Statute Code,Statute Desc,Counts,Reporting Officer
5694,2022-00043755,0 Block MONTICELLO ST,06/04/2022 12:12:00 AM,6,2022,Disorderly Conduct,11-45-1,DISORDERLY CONDUCT,1,RMorel